a {
color: #403d3b;
text-decoration: none!important;
}
a:hover {
text-decoration: none!important;
color: #d74b33!important;
}
a.general{
color: #d74b33!important;
}
a.general:hover{
color: #d74b33!important;
}
a.menu{
color: #0d0d0d!important;
}
a.menu:hover,
a.menu.active{
color: #ffffff!important;
}
.title, h1.article,.default-title,.titles{
color: #060606!important;
text-transform: uppercase;
}
h1.title {
line-height: 21px!important;
font-size: 23px;
font-weight: 100!important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
background-color: #d74b33;
border: 1px solid #d3487c;
}
.navbar-toggle {
color: #fff!important;
}